.flex-conteiner {
    display: flex;
}

#flex-conteiner {
    flex-direction: column;
}


/* Este selector seleciona todas as divs dentro do .flex-container*/

.flex-conteiner div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 auto;
}

#flex-conteiner div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 auto;
}


/* Esta área alinha o textos da class "title" ao centro e coloca a cor castanha*/

.title {
    text-align: center;
    color: brown;
}

.paragrafo {
    text-align: center;
    font-style: italic;
}